<div class="skipTop">

</div>
<div class="skipLink">
  <a [href]="skipLinkPath" title="Skip to Main Content" aria-label="Skip to Main Content">
    Skip to Main Content
  </a>
</div>
<nav
  class="navbar navbar-expand-sm navbar-light border-bottom justify-content-between"
>
  <a class="navbar-brand" routerLink="" title="SyncfusionWebApp" aria-label="SyncfusionWebApp" role="heading" aria-level="1">
    SyncfusionWebApp
  </a>
  <div class="navbar-nav">
    
    <a class="nav-item nav-link active" routerLink="/grid" title="Grid" aria-label="Grid">
      Grid
    </a>
    <a class="nav-item nav-link active" routerLink="/chart" title="Chart" aria-label="Chart">
      Chart
    </a>
    <a class="nav-item nav-link active" routerLink="/schedule" title="Schedule" aria-label="Schedule">
      Schedule 
    </a>
  </div>
</nav>
<!-- <ejs-sidebar id="default-sidebar" >
  <div class="title"> Sidebar content</div>
</ejs-sidebar> -->